@font-face {
  font-family: "G Body";
  src: url("./assets/regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "G Head";
  src: url("./assets/bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
