@font-face {
  font-family: "G Body";
  src: url("./assets/regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "G Head";
  src: url("./assets/medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
