$max-w: 400px;

.container {
  width: $max-w;
  max-width: 100%;
  margin: 0 auto;

  @media (max-width: $max-w) {
    padding: 0 1rem;
  }
}

.modal-container {
  max-width: $max-w;
  margin: 0 auto;
}