.opacity-disabled {
  opacity: var(--opacity-disabled);
}

.opacity-medium {
  opacity: var(--opacity-medium);
}

.opacity-high {
  opacity: var(--opacity-high);
}

.opacity-border {
  opacity: var(--opacity-border);
}

.opacity-hover {
  opacity: var(--opacity-hover);
}
