.text-body {
  font-size: 1rem;
  font-family: "G Body", sans-serif;
}

.text-caption {
  font-size: 0.75rem;
  font-family: "G Body", sans-serif;
}

.text-h3 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "G Head", sans-serif;
}

.text-h2 {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "G Head", sans-serif;
}

.text-h1 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "G Head", sans-serif;
}
