*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "G Body", sans-serif;
  background-color: rgba(var(--g-theme-background));
  color: rgba(var(--g-theme-on-background));
}

button {
  all: unset;
  cursor: pointer;
  display: block;
}
