body {
  font-size: 16px;
  font-family: "G Body", sans-serif;
  background-color: rgba(var(--g-theme-background));
  color: rgba(var(--g-theme-on-background));
}

h1,
h2,
h3 {
  all: unset;
  font-family: "G Head", sans-serif;
  display: block;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0;
}
