.e-modal {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80vh;
  border-radius: 16px 16px 0 0;

  opacity: 0;
  transform: translateY(100%);

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  &.m-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .e-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .e-content {
      height: 100%;
      overflow-y: auto;
    }

    .e-close {
      width: 48px;
      height: 32px;
      position: absolute;
      left: 50%;
      top: -32px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(-50%);

      .e-line {
        width: 48px;
        height: 4px;
        border-radius: 4px;
        background: currentColor;
        opacity: var(--opacity-border);
      }
    }
  }
}
