$list-hover-bg: rgba(var(--g-theme-primary), var(--opacity-hover));

.g-select {
  .e-plate {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid
      color-mix(
        in srgb,
        currentColor calc(var(--opacity-border) * 100%),
        transparent
      );

    .e-arrow {
      color: rgba(var(--g-theme-primary));
      transition: transform 0.2s ease;
      &.m-arrow-rotated {
        transform: rotate(180deg);
      }
    }
  }
}

.e-list-item {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  width: 100%;

  &.m-selected {
    background-color: $list-hover-bg;
  }

  &:hover {
    background-color: $list-hover-bg;
  }
}
